*{
    margin: 0%;
    padding: 0%;
    list-style: none;
    text-decoration: none;
  
   
}

header{
    background-color: rgb(255, 196, 0);width: 99%;
    display: flex;
    padding: 5px;
    position:absolute;
   
}
img{
    width: 50px;
}
.bold{
    font-size: 30px;
    color:rgb(5, 18, 94)
}
header .navbar ul{
    display: flex;
    left: 25%;
    top: 25%;

}
header .navbar ul li{
margin-left: 15%;
font-size: 20px;
}
header .navbar ul li a{
    color: white;
}
header .navbar ul li a.active{
    color:dimgrey;

}
header.navbar ul li a:hover{
color: dimgrey;

}
/* Home starts here */
.home {
    align-items: center;
    justify-content: center;
    flex-flow: column;
    display: flex;
    background: url('images/home-bg.jpg') ;
    background-size: cover;
    background-position: left;
 

}

section{
    min-height: 100vh;
   
}
.btn{
    background: orange;
    width: 150px;padding: 14px;
    border-radius: 10px;
    border: none;
    margin-top: 100px;
}
.home h1{
    padding: 10px;
    font-size: 80px;
    color: red;
}

.home p{
    padding: 10px;
    font-size:50px;
    color: royalblue;
    font-family: fantasy;
}
.home a{
    padding: 10px;
}
/* About starts here */
 .about{
margin: 0px;

} 
.about img{
    width: 450px;
    height: 450px;
    float: right;
   margin-top: 130px;
  margin-right: 10px;
  border-radius: 10px;
  border: 2px solid rgb(128, 0, 79);
  
}
.about p{
    padding-top: 130px;
    font-size: 40px;
    color: saddlebrown;
    font-family:'Times New Roman', Times, serif;
}
.btn{
    margin-top: -15px;
    margin-top: 20px;
    margin-left: 50px;
}

  
/* teachers section start here */
.teachers .sawiro {
    border: 2px solid rgb(22, 20, 20);
    border-radius:5px;
    width: 350px;
    height:350px;
    margin-left: 20px;
    background: rgb(200, 13, 13);
    margin-top: 10%;
  
   
    
}
.teachers{
    position: absolute;
    margin-top: 30px;
    display: flex;
   
    
}
.teachers .sawiro img{
    width: 350px;
    height: 300px;
    }
    .anchor a{
        color: #eee;
        font-size: 20px;
    }
    .anchor a:hover{
      text-decoration: underline;
      text-decoration-color: black;
    }
   .teachers{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 5px;
    grid-row-gap: 20px;
    margin-left: 60px;
    margin-right: 60px;
    position:absolute;
   
}
   

/* courses starts here */
.courses .box-container {
     flex-wrap: wrap;
     display: flex;
     justify-content: center ;
     
    
}
.courses .box-container .box{
    width: 380px;
    border: 1px solid rgb(21, 36, 7);
    border-radius: 10px;
    margin-top:50px;

}
.courses .box-container .box img{
 width: 100%;
 height: 200px;

    
}
.courses .box-container .box .price{

    width: 40px;
    height: 10px;
    position: relative;
    color: white;
    padding-top: 30px;
    float: right;
    background: rgb(255, 6, 18);
    border-radius: 700px;
    margin-top: -50;
}
.courses .box-container .box .price h1{
 margin-top: -25px;
 font-size: 20px;
 margin-left: 5px;

}


    .courses .box-container .box .rate{
        width: 380px;
        height: 70px;
        padding-top: -800px;
    }
    .courses .box-container .box a.title{
        color:#444;
        font-size: 25px;
        margin-left: 10px;
        
    }
    .courses .box-container .box a.title:hover{
        text-decoration: underline;
    } 
    .courses .box-container .box p{
        padding-top: 10px;
        margin-left: 5px;
    }
    hr{
        margin-top: 10px;
        margin-right: 10px;
        margin-left: 10px;
    }
    .courses .box-container .box .info{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 10px;
    }
    .courses .box-container .box .info h2{
        padding: 10px;
        font-size: 20px;
    }
    /* contects start here */
    .contect{
        background: #111;
       
       
    }
    .contect .heading{
        color: brown;
        padding-top: 60px;
        font-size: 50px;
        margin-left: 30%;
    }
    .contect .row{
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;
        line-height: 10px;
        margin-right: 290px;
    }
    .contect .row form{
    
        flex: 1px;
        background: #222;
        padding: 2rem;
        display: flex;
        flex-wrap: wrap;
        margin-top: 1%;
        justify-content: space-between;
      

    }
    .contect .row form .box{
        width: 49%;
        height: 55px;
        padding: opx 1rem;
        margin: 1rem 0;
        border: 1px solid #eee;
        background: none;
        color: white;
        font-size: 20px;
       
    }
    .contect .row form .address{
        width: 80%;
        height: 140px;
        resize: none;
    }
    .contect .row form .send{
        background-color: yellow;
        border: none;
        padding: 15px;
        border-radius: 10px;
        width: 160px;
        margin-left: 45%;
      
    } 
    .image{
        margin-left: 70%;
        margin-top: -42%;
        margin-right: 30%;
     
    }
    .image img{
        position: relative;
        width:400px;
        height: 90%;
        margin-top: -5%;
    
    }
   
    /* Responsive link 
            Home */

    @media(max-width:768px){
        .bold{
            margin-left: -60%;
        }
        header .navbar ul {       
            width: 97%;
            position: absolute;
            top: 50px;
            left: 0;
            background: #ca0b0b;
            padding: 10px;
            margin-left: 0;
        }
        header .navbar ul li {  
         margin-left: 80px;

        }
        header img{
            margin-right: 490px;
        }
        header {
            margin-right: -1px;
            
        }
        
        header{
            
            padding:5px;
        }
       
    }
        /* Responsive about starts here */
        @media(max-width:768px){
            .about img{
        margin-top: 40%;
         margin-right: 0%;    
            
            
              
            }
         
        }
    /* Responsive contect starts here */
    @media(max-width:768px){
     .image img {
      right: 130px;
      top: -170px;
      height: 80%;
      
     }
      .contect .row form {
        margin-top:  90px;
        margin-left: 20px;
     }
    
     .contect .row form .send{
         margin-right: 80px;
         margin-left: 90px;
     }
     .contect .heading{
     
        padding-top: 100px;
        padding-bottom: -50%;
       
    }
  
    }
    /* Responsive teacher starts here */
    @media(max-width:768px){
       .teachers{
           margin-top: 110px;
          
      
       }
       .teachers{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-column-gap: 5px;
        grid-row-gap: 20px;
        margin-left: 20px;
        position:absolute;
       
    }
  
        
       }
@media(max-width:400px){
    .bold{
margin-left: -100%;

    }
  header .navbar ul li {
        padding-left: -90%;
    }
}
   

    
